openapi: 3.1.0
info:
  title: Process Street Public Attachments One-Off Tasks API
  version: '1.1'
  description: "The Process Street API is organized around REST. Our API has predictable resource-oriented URLs,\naccepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response\ncodes, authentication, and verbs.\n\nAn [MCP server](https://www.process.st/help/docs/mcp-server/) is also available for integrating with AI agents and tools.\n\n## Core concepts\n\n**Workflow vs Workflow Run.** A **Workflow** (sometimes called a \"playbook\" or template) is the reusable\ndefinition — tasks, form fields, logic, automations. A **Workflow Run** (sometimes called a \"checklist\")\nis one *instance* of running a Workflow. You list available templates via `listWorkflows`; you start one\nvia `createWorkflowRun` (or by scheduling); and you read or update the live state of an in-progress run\nvia the Workflow Runs / Tasks / Form Field Values endpoints. The two are easy to confuse — when in doubt,\n\"Workflow\" is the *blueprint*, \"Workflow Run\" is *one execution*.\n\n**Pages** are similar but standalone: a Page is a content document (no tasks/form fields). A\n**Page Revision** is a versioned snapshot of its content.\n\n## IDs\n\nAll resource IDs are opaque 22-character URL-safe strings (Muids — a base64-encoded UUID). Treat them\nas opaque tokens. Do not parse them, attempt to sort by them, or assume any internal structure. You can\ncompare two IDs for equality with a plain string comparison.\n\n## Dates and times\n\nAll timestamps in requests and responses are ISO-8601, UTC, with millisecond precision\n(e.g. `2024-09-15T14:32:00.000Z`). For date-only fields (typically due dates), use a calendar date\n(`2024-09-15`).\n\n## Pagination\n\nList endpoints page through results using an opaque cursor named `_` (yes, just an underscore).\nThe flow:\n\n1. Call the list endpoint without `_` to get the first page.\n2. Each response includes a `links[]` array. If there are more pages, you'll find an entry with\n   `name: \"next\"` whose `href` is a fully-formed URL you can `GET` directly.\n3. Keep following `next.href` until the `next` link is absent — that's the end.\n\nYou can also reuse the `_` value from one response by passing it as the `_` query parameter on the\nnext request, but **following the `href` is simpler and forward-compatible**.\n\n## Authentication\n\nEvery request must include an API key as `X-API-KEY: <your-key>`. Generate keys from your\norganization settings in the Process Street app. Each key carries the permissions of the user that\ncreated it.\n\n## Idempotency and retries\n\n- `GET` requests are safe to retry on any error.\n- `PUT` requests are idempotent — calling them twice with the same body is equivalent to calling once.\n  Safe to retry on `5xx`.\n- `DELETE` is idempotent (deleting an already-deleted resource returns `404`, which is fine to ignore).\n- `POST` is generally **not** safe to blindly retry. For workflow runs, attach a `referenceId`\n  on create — calling `createWorkflowRun` twice with the same `referenceId` will return the existing\n  run instead of creating a duplicate.\n\n## Errors\n\nErrors are returned as a JSON object with this shape:\n\n```json\n{\n  \"error\": \"human-readable message\",\n  \"errorCode\": \"NotFound\",\n  \"requestId\": \"abc123…\",\n  \"details\": { \"fieldPath\": \"what went wrong\" }\n}\n```\n\n**When present**, branch on `errorCode` rather than regex'ing `error` (we may rewrite the wording). Include\n`requestId` if you contact support so we can find the request in our logs.\n\n`errorCode` and `requestId` are populated on responses generated by the public API exception handler, which\ncovers the great majority of errors. A few low-level failures (e.g. JSON parse failures caught before the\nhandler runs, framework-level routing errors) may return an `ErrorInfo` without these fields. In that case,\nfall back to the HTTP status code (`400`/`401`/`403`/`404`/`409`/`422`/`429`/`5xx`) — its semantics match\nthe corresponding `errorCode` value.\n\n## Rate limits\n\nAll requests are subject to rate limits. If you receive a `429` response, wait for the duration\nspecified in the `Retry-After` header before retrying.\n"
servers:
- url: https://public-api.process.st/api/v1.1
tags:
- name: One-Off Tasks
  description: 'A one-off task is a standalone task that can optionally be linked to a

    workflow run. Use these endpoints to create, view, and manage one-off tasks.'
  externalDocs:
    url: https://www.process.st/help/docs/one-off-tasks/
    description: Process Street help article
paths:
  /work/tasks:
    post:
      tags:
      - One-Off Tasks
      summary: Create a one-off task
      description: Creates a new one-off task, optionally linked to a workflow run.
      operationId: createOneOffTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneOffTaskRequest'
            examples:
              Create a one-off task:
                summary: Creates a task with two subtasks assigned to a user
                value:
                  name: Review contract
                  description: Check the terms and conditions
                  dueDate: '2026-04-01T09:00:00.000Z'
                  required: false
                  assigneeEmails:
                  - jane@example.com
                  subtasks:
                  - name: Check terms
                  - name: Verify dates
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiOneOffTaskResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /work/tasks/{taskId}:
    get:
      tags:
      - One-Off Tasks
      summary: Get a one-off task
      description: Returns a one-off task by its ID, including assignments and subtasks.
      operationId: getOneOffTask
      parameters:
      - name: taskId
        in: path
        description: The ID of the One-Off Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiOneOffTaskResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - One-Off Tasks
      summary: Update a one-off task
      description: 'Updates a one-off task. PUT semantics: all fields must be provided. Returns the updated task.'
      operationId: updateOneOffTask
      parameters:
      - name: taskId
        in: path
        description: The ID of the One-Off Task
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneOffTaskRequest'
            examples:
              Update a one-off task:
                summary: Update task details, reassign, and modify subtasks
                value:
                  name: Review contract
                  description: Check the terms and conditions
                  dueDate: '2026-04-02T09:00:00.000Z'
                  required: true
                  assigneeEmails:
                  - jane@example.com
                  - john@example.com
                  subtasks:
                  - id: kPcr3wSdMURUe6zuyZxOlA
                    name: Check terms
                    status: Completed
                  - name: Contact lawyer
                    status: NotCompleted
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiOneOffTaskResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    delete:
      tags:
      - One-Off Tasks
      summary: Delete a one-off task
      description: Deletes a one-off task permanently.
      operationId: deleteOneOffTask
      parameters:
      - name: taskId
        in: path
        description: The ID of the One-Off Task
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /work/tasks/{taskId}/complete:
    post:
      tags:
      - One-Off Tasks
      summary: Complete a one-off task
      description: Sets the task status to Completed. No-op if already completed. Returns the updated task.
      operationId: completeOneOffTask
      parameters:
      - name: taskId
        in: path
        description: The ID of the One-Off Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiOneOffTaskResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /work/tasks/{taskId}/uncomplete:
    post:
      tags:
      - One-Off Tasks
      summary: Uncomplete a one-off task
      description: Sets the task status to NotCompleted. No-op if already not completed. Returns the updated task.
      operationId: uncompleteOneOffTask
      parameters:
      - name: taskId
        in: path
        description: The ID of the One-Off Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiOneOffTaskResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
components:
  schemas:
    UpdateOneOffTaskRequest:
      title: UpdateOneOffTaskRequest
      type: object
      required:
      - name
      - required
      properties:
        name:
          description: Display name.
          type: string
          minLength: 1
        description:
          description: Optional long-form description.
          type: string
        dueDate:
          description: Due date. ISO-8601 UTC.
          type: string
          format: date-time
        required:
          description: When `true`, the form field must have a value before its task can be completed.
          type: boolean
        linkedWorkflowRunId:
          title: EntityID
          type: string
        assigneeEmails:
          type: array
          minItems: 1
          items:
            type: string
        subtasks:
          type: array
          items:
            title: UpdateSubtaskRequest
            type: object
            required:
            - name
            - status
            properties:
              id:
                title: EntityID
                description: The resource's ID.
                type: string
              name:
                description: Display name.
                type: string
                minLength: 1
              status:
                title: Status
                description: 'Whether this subtask has been checked off.


                  - `Completed` — the subtask is checked.

                  - `NotCompleted` — the subtask is unchecked.

                  '
                type: string
                enum:
                - Completed
                - NotCompleted
    ErrorInfo:
      title: ErrorInfo
      type: object
      required:
      - error
      properties:
        error:
          description: 'Human-readable error message. Suitable for logs or for surfacing to end users; do not parse it

            programmatically — use `errorCode` for that.'
          type: string
        details:
          description: 'Optional structured context. Shape depends on the error: for `Validation` errors the keys are field

            paths; for `PaymentRequired` the keys describe the limit that was hit.'
          type: object
          additionalProperties:
            type: string
        errorCode:
          title: ErrorCode
          description: 'Machine-parsable classification of the error. Always set on responses generated by the global

            exception handler. Branch your own error handling on this (not the message text).'
          type: string
          enum:
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - Conflict
          - PayloadTooLarge
          - Validation
          - RateLimited
          - InternalError
        requestId:
          description: Per-request correlation ID. Include this when contacting support so we can find the request in our logs.
          type: string
    PublicApiOneOffTaskResponse:
      title: PublicApiOneOffTaskResponse
      type: object
      required:
      - data
      properties:
        data:
          title: PublicApiOneOffTask
          description: The resource returned by this request.
          type: object
          required:
          - id
          - createdDate
          - createdBy
          - updatedDate
          - updatedBy
          - organizationId
          - name
          - status
          - required
          - visibility
          properties:
            id:
              description: The ID of the One-Off Task
              examples:
              - quuif1gveYFEcueHcehDig
              type: string
            createdDate:
              description: When the resource was first created. ISO-8601 UTC.
              type: string
              format: date-time
            createdBy:
              description: User who created the resource.
              examples:
              - id: iAaSNCU5lWLYGAi663hO8Q
                email: jane.doe@example.com
                username: Jane Doe
              type: object
              required:
              - id
              - email
              - username
              properties:
                id:
                  title: EntityID
                  description: The resource's ID.
                  type: string
                email:
                  description: The user's email address (also their login identifier).
                  type: string
                username:
                  description: The user's display name (e.g. `Jane Doe`).
                  type: string
            updatedDate:
              description: When the resource was last modified. ISO-8601 UTC.
              type: string
              format: date-time
            updatedBy:
              description: User who last modified the resource.
              examples:
              - id: iAaSNCU5lWLYGAi663hO8Q
                email: jane.doe@example.com
                username: Jane Doe
              type: object
              required:
              - id
              - email
              - username
              properties:
                id:
                  title: EntityID
                  description: The resource's ID.
                  type: string
                email:
                  description: The user's email address (also their login identifier).
                  type: string
                username:
                  description: The user's display name (e.g. `Jane Doe`).
                  type: string
            organizationId:
              title: EntityID
              description: The ID of the organization this resource belongs to.
              type: string
            name:
              description: Display name of the one-off task.
              type: string
            description:
              description: Optional long-form description of the one-off task.
              type: string
            status:
              title: Status
              type: string
              enum:
              - NotCompleted
              - Completed
            dueDate:
              description: Optional due date. ISO-8601 UTC.
              type: string
              format: date-time
            required:
              description: When `true`, the task must be completed before the linked workflow run can be completed.
              type: boolean
            visibility:
              title: Visibility
              description: Who can see this one-off task. `Private` — only the creator and assignees. `Public` — visible to anyone in the organization.
              type: string
              enum:
              - Private
              - Public
            assignments:
              type: array
              items:
                title: PublicApiOneOffTaskAssignment
                type: object
                required:
                - id
                - user
                properties:
                  id:
                    title: EntityID
                    description: The resource's ID.
                    type: string
                  user:
                    description: User this entry refers to.
                    examples:
                    - id: iAaSNCU5lWLYGAi663hO8Q
                      email: jane.doe@example.com
                      username: Jane Doe
                    type: object
                    required:
                    - id
                    - email
                    - username
                    properties:
                      id:
                        title: EntityID
                        description: The resource's ID.
                        type: string
                      email:
                        description: The user's email address (also their login identifier).
                        type: string
                      username:
                        description: The user's display name (e.g. `Jane Doe`).
                        type: string
            linkedWorkflowRun:
              title: PublicApiLinkedWorkflowRun
              type: object
              required:
              - id
              - name
              - templateId
              - templateName
              properties:
                id:
                  description: The ID of the Workflow Run
                  examples:
                  - oQsycxGFswNfZYdiCp5F9g
                  type: string
                name:
                  description: Display name.
                  type: string
                templateId:
                  description: The ID of the Workflow
                  examples:
                  - oQsycxGFswNfZYdiCp5F9g
                  type: string
                templateName:
                  type: string
            subtasks:
              type: array
              items:
                title: PublicApiSubtask
                type: object
                required:
                - id
                - name
                - status
                properties:
                  id:
                    title: EntityID
                    description: The resource's ID.
                    type: string
                  name:
                    description: Display name.
                    type: string
                  status:
                    description: Whether this subtask is complete. `Completed` — the subtask has been checked off. `NotCompleted` — the subtask has not yet been checked off.
                    type: string
                    enum:
                    - Completed
                    - NotCompleted
            links:
              description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
              type: array
              items:
                title: Link
                description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                type: object
                required:
                - name
                - href
                - type
                properties:
                  name:
                    description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                    type: string
                  href:
                    title: Uri
                    description: URL of the linked resource.
                    examples:
                    - https://api.process.st/api/v1.1/resource/XXX
                    type: string
                  rel:
                    description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                    type: string
                    enum:
                    - Approval Task
                    - Approvals
                    - Assignees
                    - Comment
                    - Data Set Records
                    - Data Sets
                    - Form Field Values
                    - Subject Task
                    - Task
                    - Tasks
                    - Users
                    - Webhook
                    - Workflow
                    - Workflow Run
                  type:
                    description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                    type: string
                    enum:
                    - Api
                    - App
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    CreateOneOffTaskRequest:
      title: CreateOneOffTaskRequest
      type: object
      required:
      - name
      - required
      properties:
        name:
          description: Display name.
          type: string
          minLength: 1
        description:
          description: Optional long-form description.
          type: string
        dueDate:
          description: Due date. ISO-8601 UTC.
          type: string
          format: date-time
        required:
          description: When `true`, the form field must have a value before its task can be completed.
          type: boolean
        linkedWorkflowRunId:
          title: EntityID
          type: string
        assigneeEmails:
          type: array
          minItems: 1
          items:
            type: string
        subtasks:
          type: array
          items:
            title: CreateSubtaskRequest
            type: object
            required:
            - name
            properties:
              name:
                description: Display name.
                type: string
                minLength: 1
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    httpAuth:
      type: http
      description: Bearer token (beta)
      scheme: bearer
x-tagGroups:
- name: Workflows
  tags:
  - Workflows
  - Workflow Revisions
  - Form Fields
  - Workflow Logic Rules
  - Workflow Tasks
  - Workflow Task Assignment Rules
  - Workflow Widgets
  - Workflow Due Date Rules
  - Workflow Task Due Date Rules
  - Workflow Incoming Webhooks
  - Scheduled Workflows
- name: Workflow Runs
  tags:
  - Workflow Runs
  - Tasks
  - Form Field Values
  - Comments
  - Attachments
- name: Pages
  tags:
  - Pages
  - Page Revisions
  - Page Widgets
- name: Data Sets
  tags:
  - Data Sets
  - Data Set Incoming Webhooks
- name: Other
  tags:
  - Folders
  - One-Off Tasks
  - Users
  - Webhooks
  - File Uploads
  - Utilities
  - My Work
