openapi: 3.2.0
info:
  title: Process Street Public Workflow Logic Rules API
  version: '1.1'
  description: The Process Street API is organized around REST.
servers:
- url: https://public-api.process.st/api/v1.1
tags:
- name: Workflow Logic Rules
  description: 'Workflow logic rules are conditional rules that control the visibility of tasks

    and form fields within a workflow revision. Use these endpoints to create, view,

    and manage logic rules.'
  externalDocs:
    url: https://www.process.st/help/docs/conditional-logic/
    description: Process Street help article
paths:
  /workflows/{workflowId}/revisions/{revisionId}/logic-rules:
    get:
      tags:
      - Workflow Logic Rules
      summary: List all conditional logic rules
      description: Returns a paginated list of conditional logic rules for a workflow revision, sorted by order tree.
      operationId: listWorkflowRevisionLogicRules
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: _
        in: query
        description: 'Opaque pagination cursor. Take this value from the previous response''s `links[]` entry whose `name`

          is `"next"` (typically just follow that link''s `href` instead of reading this value).

          Omit on the first page. If the previous response had no `next` link, there are no more pages.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiLogicRuleListResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    post:
      tags:
      - Workflow Logic Rules
      summary: Create a conditional logic rule
      description: Creates a conditional logic rule on a draft workflow revision.
      operationId: createWorkflowRevisionLogicRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowLogicRuleRequest'
            examples:
              Simple condition:
                summary: Show a task when a form field value is Active
                value:
                  condition:
                    or:
                    - and:
                      - widgetId: lJV3-hTDnBHrNjxm51dD4A
                        operator: Is
                        value: Active
                  action: Show
                  targets:
                    taskIds:
                    - mCUPuFwPK_1sHFjYZfhAJQ
                    widgetIds: []
                  description: Show task when Status is Active
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiLogicRuleResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflows/{workflowId}/revisions/{revisionId}/logic-rules/{ruleId}:
    get:
      tags:
      - Workflow Logic Rules
      summary: Get a conditional logic rule
      description: Returns a conditional logic rule by its ID.
      operationId: getWorkflowRevisionLogicRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The ID of the Logic Rule
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiLogicRuleResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Workflow Logic Rules
      summary: Update a conditional logic rule
      description: 'Updates a conditional logic rule on a draft workflow revision. PUT semantics: all fields must be provided. Returns the updated rule.'
      operationId: updateWorkflowRevisionLogicRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The ID of the Logic Rule
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowLogicRuleRequest'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiLogicRuleResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    delete:
      tags:
      - Workflow Logic Rules
      summary: Delete a conditional logic rule
      description: Deletes a conditional logic rule from a draft workflow revision.
      operationId: deleteWorkflowRevisionLogicRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: ruleId
        in: path
        description: The ID of the Logic Rule
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
components:
  schemas:
    PublicApiLogicRuleResponse:
      title: PublicApiLogicRuleResponse
      type: object
      required:
      - data
      properties:
        data:
          title: PublicApiLogicRule
          type: object
          required:
          - id
          - condition
          - action
          - targets
          properties:
            id:
              title: EntityID
              description: The resource's ID.
              type: string
            condition:
              title: OrCondition
              type: object
              properties:
                or:
                  description: List of AND-groups; the OR-condition matches if any group matches.
                  type: array
                  items:
                    title: AndGroup
                    type: object
                    properties:
                      and:
                        description: List of conditions that must all match (AND combined within a group).
                        type: array
                        items:
                          title: LeafCondition
                          type: object
                          required:
                          - widgetId
                          - operator
                          properties:
                            widgetId:
                              title: EntityID
                              description: The ID of the widget.
                              type: string
                            operator:
                              description: Comparison operator (e.g. `Is`, `IsNot`, `Contains`, `IsEmpty`).
                              type: string
                            value:
                              description: The option's stored value.
                              type: string
            action:
              title: WorkflowLogicRuleAction
              description: What the rule does to its targets when conditions match. `Show` reveals tasks/widgets that are hidden by default. `Hide` conceals tasks/widgets that are visible by default.
              type: string
              enum:
              - Show
              - Hide
            targets:
              title: PublicApiTargets
              type: object
              properties:
                taskIds:
                  description: IDs of the tasks this rule applies to.
                  type: array
                  items:
                    title: EntityID
                    type: string
                widgetIds:
                  description: IDs of the widgets (form fields) this rule applies to.
                  type: array
                  items:
                    title: EntityID
                    type: string
            description:
              description: Optional human-readable description of what this rule does.
              type: string
            links:
              description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
              type: array
              items:
                title: Link
                description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                type: object
                required:
                - name
                - href
                - type
                properties:
                  name:
                    description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                    type: string
                  href:
                    title: Uri
                    description: URL of the linked resource.
                    examples:
                    - https://api.process.st/api/v1.1/resource/XXX
                    type: string
                  rel:
                    description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                    type: string
                    enum:
                    - Approval Task
                    - Approvals
                    - Assignees
                    - Comment
                    - Data Set Records
                    - Data Sets
                    - Form Field Values
                    - Subject Task
                    - Task
                    - Tasks
                    - Users
                    - Webhook
                    - Workflow
                    - Workflow Run
                  type:
                    description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                    type: string
                    enum:
                    - Api
                    - App
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    ErrorInfo:
      title: ErrorInfo
      type: object
      required:
      - error
      properties:
        error:
          description: 'Human-readable error message. Suitable for logs or for surfacing to end users; do not parse it

            programmatically — use `errorCode` for that.'
          type: string
        details:
          description: 'Optional structured context. Shape depends on the error: for `Validation` errors the keys are field

            paths; for `PaymentRequired` the keys describe the limit that was hit.'
          type: object
          additionalProperties:
            type: string
        errorCode:
          title: ErrorCode
          description: 'Machine-parsable classification of the error. Always set on responses generated by the global

            exception handler. Branch your own error handling on this (not the message text).'
          type: string
          enum:
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - Conflict
          - PayloadTooLarge
          - Validation
          - RateLimited
          - InternalError
        requestId:
          description: Per-request correlation ID. Include this when contacting support so we can find the request in our logs.
          type: string
    PublicApiLogicRuleListResponse:
      title: PublicApiLogicRuleListResponse
      type: object
      properties:
        data:
          description: The list of resources returned by this request.
          type: array
          items:
            title: PublicApiLogicRule
            type: object
            required:
            - id
            - condition
            - action
            - targets
            properties:
              id:
                title: EntityID
                description: The resource's ID.
                type: string
              condition:
                title: OrCondition
                type: object
                properties:
                  or:
                    description: List of AND-groups; the OR-condition matches if any group matches.
                    type: array
                    items:
                      title: AndGroup
                      type: object
                      properties:
                        and:
                          description: List of conditions that must all match (AND combined within a group).
                          type: array
                          items:
                            title: LeafCondition
                            type: object
                            required:
                            - widgetId
                            - operator
                            properties:
                              widgetId:
                                title: EntityID
                                description: The ID of the widget.
                                type: string
                              operator:
                                description: Comparison operator (e.g. `Is`, `IsNot`, `Contains`, `IsEmpty`).
                                type: string
                              value:
                                description: The option's stored value.
                                type: string
              action:
                title: WorkflowLogicRuleAction
                description: What the rule does to its targets when conditions match. `Show` reveals tasks/widgets that are hidden by default. `Hide` conceals tasks/widgets that are visible by default.
                type: string
                enum:
                - Show
                - Hide
              targets:
                title: PublicApiTargets
                type: object
                properties:
                  taskIds:
                    description: IDs of the tasks this rule applies to.
                    type: array
                    items:
                      title: EntityID
                      type: string
                  widgetIds:
                    description: IDs of the widgets (form fields) this rule applies to.
                    type: array
                    items:
                      title: EntityID
                      type: string
              description:
                description: Optional human-readable description of what this rule does.
                type: string
              links:
                description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
                type: array
                items:
                  title: Link
                  description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                  type: object
                  required:
                  - name
                  - href
                  - type
                  properties:
                    name:
                      description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                      type: string
                    href:
                      title: Uri
                      description: URL of the linked resource.
                      examples:
                      - https://api.process.st/api/v1.1/resource/XXX
                      type: string
                    rel:
                      description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                      type: string
                      enum:
                      - Approval Task
                      - Approvals
                      - Assignees
                      - Comment
                      - Data Set Records
                      - Data Sets
                      - Form Field Values
                      - Subject Task
                      - Task
                      - Tasks
                      - Users
                      - Webhook
                      - Workflow
                      - Workflow Run
                    type:
                      description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                      type: string
                      enum:
                      - Api
                      - App
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    UpdateWorkflowLogicRuleRequest:
      title: UpdateWorkflowLogicRuleRequest
      type: object
      required:
      - condition
      - action
      - targets
      properties:
        condition:
          title: OrCondition
          type: object
          properties:
            or:
              description: List of AND-groups; the OR-condition matches if any group matches.
              type: array
              items:
                title: AndGroup
                type: object
                properties:
                  and:
                    description: List of conditions that must all match (AND combined within a group).
                    type: array
                    items:
                      title: LeafCondition
                      type: object
                      required:
                      - widgetId
                      - operator
                      properties:
                        widgetId:
                          title: EntityID
                          description: The ID of the widget.
                          type: string
                        operator:
                          description: Comparison operator (e.g. `Is`, `IsNot`, `Contains`, `IsEmpty`).
                          type: string
                        value:
                          description: The option's stored value.
                          type: string
        action:
          title: WorkflowLogicRuleAction
          description: What the rule does to its targets when conditions match. `Show` reveals tasks/widgets that are hidden by default. `Hide` conceals tasks/widgets that are visible by default.
          type: string
          enum:
          - Show
          - Hide
        targets:
          title: PublicApiTargets
          type: object
          properties:
            taskIds:
              description: IDs of the tasks this rule applies to.
              type: array
              items:
                title: EntityID
                type: string
            widgetIds:
              description: IDs of the widgets (form fields) this rule applies to.
              type: array
              items:
                title: EntityID
                type: string
        position:
          title: RulePosition
          description: Where to place this logic rule in the workflow revision. `Top` — before all existing rules. `Bottom` — after all existing rules (default when `position` is omitted). `After` — immediately after the rule identified by `ruleId`.
          oneOf:
          - title: RulePositionAfter
            type: object
            required:
            - ruleId
            - type
            properties:
              ruleId:
                title: EntityID
                type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: After
          - title: RulePositionBottom
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Bottom
          - title: RulePositionTop
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Top
          discriminator:
            propertyName: type
            mapping:
              After: '#/components/schemas/RulePositionAfter'
              Bottom: '#/components/schemas/RulePositionBottom'
              Top: '#/components/schemas/RulePositionTop'
        description:
          description: Optional long-form description.
          type: string
          maxLength: 255
    CreateWorkflowLogicRuleRequest:
      title: CreateWorkflowLogicRuleRequest
      type: object
      required:
      - condition
      - action
      - targets
      properties:
        condition:
          title: OrCondition
          type: object
          properties:
            or:
              description: List of AND-groups; the OR-condition matches if any group matches.
              type: array
              items:
                title: AndGroup
                type: object
                properties:
                  and:
                    description: List of conditions that must all match (AND combined within a group).
                    type: array
                    items:
                      title: LeafCondition
                      type: object
                      required:
                      - widgetId
                      - operator
                      properties:
                        widgetId:
                          title: EntityID
                          description: The ID of the widget.
                          type: string
                        operator:
                          description: Comparison operator (e.g. `Is`, `IsNot`, `Contains`, `IsEmpty`).
                          type: string
                        value:
                          description: The option's stored value.
                          type: string
        action:
          title: WorkflowLogicRuleAction
          description: What the rule does to its targets when conditions match. `Show` reveals tasks/widgets that are hidden by default. `Hide` conceals tasks/widgets that are visible by default.
          type: string
          enum:
          - Show
          - Hide
        targets:
          title: PublicApiTargets
          type: object
          properties:
            taskIds:
              description: IDs of the tasks this rule applies to.
              type: array
              items:
                title: EntityID
                type: string
            widgetIds:
              description: IDs of the widgets (form fields) this rule applies to.
              type: array
              items:
                title: EntityID
                type: string
        position:
          title: RulePosition
          description: Where to place this logic rule in the workflow revision. `Top` — before all existing rules. `Bottom` — after all existing rules (default when `position` is omitted). `After` — immediately after the rule identified by `ruleId`.
          oneOf:
          - title: RulePositionAfter
            type: object
            required:
            - ruleId
            - type
            properties:
              ruleId:
                title: EntityID
                type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: After
          - title: RulePositionBottom
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Bottom
          - title: RulePositionTop
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Top
          discriminator:
            propertyName: type
            mapping:
              After: '#/components/schemas/RulePositionAfter'
              Bottom: '#/components/schemas/RulePositionBottom'
              Top: '#/components/schemas/RulePositionTop'
        description:
          description: Optional long-form description.
          type: string
          maxLength: 255
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    httpAuth:
      type: http
      description: Bearer token (beta)
      scheme: bearer
x-tagGroups:
- name: Workflows
  tags:
  - Workflows
  - Workflow Revisions
  - Form Fields
  - Workflow Logic Rules
  - Workflow Tasks
  - Workflow Task Assignment Rules
  - Workflow Widgets
  - Workflow Due Date Rules
  - Workflow Task Due Date Rules
  - Workflow Incoming Webhooks
  - Scheduled Workflows
- name: Workflow Runs
  tags:
  - Workflow Runs
  - Tasks
  - Form Field Values
  - Comments
  - Attachments
- name: Pages
  tags:
  - Pages
  - Page Revisions
  - Page Widgets
- name: Data Sets
  tags:
  - Data Sets
  - Data Set Incoming Webhooks
- name: Other
  tags:
  - Folders
  - One-Off Tasks
  - Users
  - Webhooks
  - File Uploads
  - Utilities
  - My Work
