openapi: 3.1.0
info:
  title: Process Street Public Attachments Workflow Tasks API
  version: '1.1'
  description: "The Process Street API is organized around REST. Our API has predictable resource-oriented URLs,\naccepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response\ncodes, authentication, and verbs.\n\nAn [MCP server](https://www.process.st/help/docs/mcp-server/) is also available for integrating with AI agents and tools.\n\n## Core concepts\n\n**Workflow vs Workflow Run.** A **Workflow** (sometimes called a \"playbook\" or template) is the reusable\ndefinition — tasks, form fields, logic, automations. A **Workflow Run** (sometimes called a \"checklist\")\nis one *instance* of running a Workflow. You list available templates via `listWorkflows`; you start one\nvia `createWorkflowRun` (or by scheduling); and you read or update the live state of an in-progress run\nvia the Workflow Runs / Tasks / Form Field Values endpoints. The two are easy to confuse — when in doubt,\n\"Workflow\" is the *blueprint*, \"Workflow Run\" is *one execution*.\n\n**Pages** are similar but standalone: a Page is a content document (no tasks/form fields). A\n**Page Revision** is a versioned snapshot of its content.\n\n## IDs\n\nAll resource IDs are opaque 22-character URL-safe strings (Muids — a base64-encoded UUID). Treat them\nas opaque tokens. Do not parse them, attempt to sort by them, or assume any internal structure. You can\ncompare two IDs for equality with a plain string comparison.\n\n## Dates and times\n\nAll timestamps in requests and responses are ISO-8601, UTC, with millisecond precision\n(e.g. `2024-09-15T14:32:00.000Z`). For date-only fields (typically due dates), use a calendar date\n(`2024-09-15`).\n\n## Pagination\n\nList endpoints page through results using an opaque cursor named `_` (yes, just an underscore).\nThe flow:\n\n1. Call the list endpoint without `_` to get the first page.\n2. Each response includes a `links[]` array. If there are more pages, you'll find an entry with\n   `name: \"next\"` whose `href` is a fully-formed URL you can `GET` directly.\n3. Keep following `next.href` until the `next` link is absent — that's the end.\n\nYou can also reuse the `_` value from one response by passing it as the `_` query parameter on the\nnext request, but **following the `href` is simpler and forward-compatible**.\n\n## Authentication\n\nEvery request must include an API key as `X-API-KEY: <your-key>`. Generate keys from your\norganization settings in the Process Street app. Each key carries the permissions of the user that\ncreated it.\n\n## Idempotency and retries\n\n- `GET` requests are safe to retry on any error.\n- `PUT` requests are idempotent — calling them twice with the same body is equivalent to calling once.\n  Safe to retry on `5xx`.\n- `DELETE` is idempotent (deleting an already-deleted resource returns `404`, which is fine to ignore).\n- `POST` is generally **not** safe to blindly retry. For workflow runs, attach a `referenceId`\n  on create — calling `createWorkflowRun` twice with the same `referenceId` will return the existing\n  run instead of creating a duplicate.\n\n## Errors\n\nErrors are returned as a JSON object with this shape:\n\n```json\n{\n  \"error\": \"human-readable message\",\n  \"errorCode\": \"NotFound\",\n  \"requestId\": \"abc123…\",\n  \"details\": { \"fieldPath\": \"what went wrong\" }\n}\n```\n\n**When present**, branch on `errorCode` rather than regex'ing `error` (we may rewrite the wording). Include\n`requestId` if you contact support so we can find the request in our logs.\n\n`errorCode` and `requestId` are populated on responses generated by the public API exception handler, which\ncovers the great majority of errors. A few low-level failures (e.g. JSON parse failures caught before the\nhandler runs, framework-level routing errors) may return an `ErrorInfo` without these fields. In that case,\nfall back to the HTTP status code (`400`/`401`/`403`/`404`/`409`/`422`/`429`/`5xx`) — its semantics match\nthe corresponding `errorCode` value.\n\n## Rate limits\n\nAll requests are subject to rate limits. If you receive a `429` response, wait for the duration\nspecified in the `Retry-After` header before retrying.\n"
servers:
- url: https://public-api.process.st/api/v1.1
tags:
- name: Workflow Tasks
  description: 'A workflow task is a task template within a workflow revision.

    Use these endpoints to create, view, update, and delete task templates

    on draft revisions.


    > 💡 Notes for MCP clients:

    > - Don''t prefix task names with numbers — the UI already shows a position next to each task and order can change.

    > - Consider adding content widgets with instructions, context, or guidance to make processes easier to follow.'
  externalDocs:
    url: https://www.process.st/help/docs/tasks/
    description: Process Street help article
paths:
  /workflows/{workflowId}/revisions/{revisionId}/tasks:
    get:
      tags:
      - Workflow Tasks
      summary: List workflow tasks
      description: Returns a paginated list of workflow tasks for a workflow revision, ordered by position.
      operationId: listWorkflowRevisionTasks
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskType
        in: query
        description: 'Filter by task type: Standard, Approval, AI, or Code.'
        required: false
        schema:
          $ref: '#/components/schemas/TaskType'
      - name: _
        in: query
        description: 'Opaque pagination cursor. Take this value from the previous response''s `links[]` entry whose `name`

          is `"next"` (typically just follow that link''s `href` instead of reading this value).

          Omit on the first page. If the previous response had no `next` link, there are no more pages.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskTemplateListResponse'
        '400':
          description: 'Invalid value for: query parameter taskType'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    post:
      tags:
      - Workflow Tasks
      summary: Create a workflow task
      description: 'Creates a workflow task on a draft workflow revision. AI and Code tasks cannot have due date offsets or stop flags.

        Task names can include merge tag variables (e.g. `{{workflow.name}}`).

        Use the listWorkflowRevisionVariables endpoint to discover available variables.


        > 💡 Notes for MCP clients:

        > - Don''t prefix task names with numbers (e.g. "1. ", "Task 1:"). The UI already shows a position number next to each task, and task order can change — hard-coded numbers go stale.

        > - Consider adding content widgets to tasks with instructions, context, or guidance for the person running the workflow. Well-explained tasks make processes easier to follow.'
      operationId: createWorkflowRevisionTask
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowTaskRequest'
            examples:
              Standard task:
                summary: Create a standard task at the bottom of the revision with a 3-day due offset
                value:
                  name: Review document
                  taskType: Standard
                  stop: false
                  hiddenByDefault: false
                  dueOffset: P3D
                  position:
                    type: Bottom
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskTemplateResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflows/{workflowId}/revisions/{revisionId}/tasks/{taskId}:
    get:
      tags:
      - Workflow Tasks
      summary: Get a workflow task
      description: Returns a workflow task by its ID within a workflow revision.
      operationId: getWorkflowRevisionTask
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskTemplateResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Workflow Tasks
      summary: Update a workflow task
      description: 'Updates a workflow task on a draft workflow revision. PUT semantics: all fields must be provided. AI and Code tasks cannot have due date offsets or stop flags.

        Task names can include merge tag variables (e.g. `{{workflow.name}}`).

        Use the listWorkflowRevisionVariables endpoint to discover available variables.


        > 💡 Notes for MCP clients:

        > - Don''t prefix task names with numbers (e.g. "1. ", "Task 1:"). The UI already shows a position number next to each task, and task order can change — hard-coded numbers go stale.

        > - Consider adding content widgets to tasks with instructions, context, or guidance for the person running the workflow. Well-explained tasks make processes easier to follow.


        Returns the updated task.'
      operationId: updateWorkflowRevisionTask
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowTaskRequest'
            examples:
              Update all fields:
                summary: Sets the task name, flags, due offset, and moves it to the bottom
                value:
                  name: Review document
                  stop: false
                  hiddenByDefault: false
                  dueOffset: P3D
                  position:
                    type: Bottom
              Clear nullable fields:
                summary: Clears the task name and due offset, and moves it to the top
                value:
                  stop: false
                  hiddenByDefault: false
                  position:
                    type: Top
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskTemplateResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    delete:
      tags:
      - Workflow Tasks
      summary: Delete a workflow task
      description: Deletes a workflow task from a draft workflow revision.
      operationId: deleteWorkflowRevisionTask
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflows/{workflowId}/revisions/{revisionId}/tasks/{taskId}/permission-rules:
    get:
      tags:
      - Workflow Tasks
      summary: Get task permission rules
      description: Returns the static and dynamic permission rules for a task template on a workflow revision.
      operationId: getWorkflowRevisionTaskPermissionRules
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiPermissionRuleListResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Workflow Tasks
      summary: Update task permission rules
      description: 'Replaces the client-configurable permission rules for a task on a draft workflow revision. PUT semantics: send the full list of desired rules to replace all existing ones. Send an empty array to remove all client-configurable rules. Note: system-managed permits (e.g. for all-members groups) are preserved and not affected by this endpoint. Returns the resulting permission rules.'
      operationId: updateWorkflowRevisionTaskPermissionRules
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateTaskPermissionRuleRequest'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiPermissionRuleListResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflows/{workflowId}/revisions/{revisionId}/tasks/{taskId}/config:
    get:
      tags:
      - Workflow Tasks
      summary: Get workflow task configuration
      description: 'Returns the configuration for a workflow task. Shape varies by task type: Approval returns subject task IDs, AI returns prompt and output mapping, Code returns code with input/output mappings. Standard tasks have no configuration (returns 400).'
      operationId: getWorkflowRevisionTaskConfig
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskConfigResponse'
              examples:
                Approval task:
                  summary: Approval task configuration
                  value:
                    data:
                      subjectTaskIds:
                      - rk3eygOBnRxS6yLJNspILg
                      - iGDwtAc8NA3elQY9vQJASQ
                      type: Approval
                    links: []
                AI task:
                  summary: AI task configuration
                  value:
                    data:
                      prompt: Summarize the form field values
                      systemPrompt: You are a helpful assistant
                      outputMapping:
                        output: rk3eygOBnRxS6yLJNspILg
                      type: Ai
                    links: []
                Code task:
                  summary: Code task configuration
                  value:
                    data:
                      code: outputData['result'] = String(Number(inputData['value']) * 2); outputData['summary'] = inputData['name'];
                      inputMapping:
                        value: rk3eygOBnRxS6yLJNspILg
                        name: iGDwtAc8NA3elQY9vQJASQ
                      outputMapping:
                        result: rk3eygOBnRxS6yLJNspILg
                        summary: iGDwtAc8NA3elQY9vQJASQ
                      type: Code
                    links: []
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Workflow Tasks
      summary: Update workflow task configuration
      description: 'Sets the configuration for a workflow task on a draft revision. PUT semantics: send all fields for the task type; optional fields omitted or set to null are cleared. Standard tasks have no configuration (returns 400). Returns the updated configuration.'
      operationId: updateWorkflowRevisionTaskConfig
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicApiTaskConfig'
            examples:
              Approval task:
                summary: Set which tasks this approval gates
                value:
                  subjectTaskIds:
                  - rk3eygOBnRxS6yLJNspILg
                  - iGDwtAc8NA3elQY9vQJASQ
                  type: Approval
              AI task:
                summary: Set the prompt and output mapping for an AI task
                value:
                  prompt: Summarize the form field values
                  systemPrompt: You are a helpful assistant
                  outputMapping:
                    output: rk3eygOBnRxS6yLJNspILg
                  type: Ai
              Code task:
                summary: Set the code, input mapping, and output mapping for a code task
                value:
                  code: outputData['result'] = String(Number(inputData['value']) * 2); outputData['summary'] = inputData['name'];
                  inputMapping:
                    value: rk3eygOBnRxS6yLJNspILg
                    name: iGDwtAc8NA3elQY9vQJASQ
                  outputMapping:
                    result: rk3eygOBnRxS6yLJNspILg
                    summary: iGDwtAc8NA3elQY9vQJASQ
                  type: Code
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicApiTaskConfigResponse'
              examples:
                Approval task:
                  summary: Approval task configuration
                  value:
                    data:
                      subjectTaskIds:
                      - rk3eygOBnRxS6yLJNspILg
                      - iGDwtAc8NA3elQY9vQJASQ
                      type: Approval
                    links: []
                AI task:
                  summary: AI task configuration
                  value:
                    data:
                      prompt: Summarize the form field values
                      systemPrompt: You are a helpful assistant
                      outputMapping:
                        output: rk3eygOBnRxS6yLJNspILg
                      type: Ai
                    links: []
                Code task:
                  summary: Code task configuration
                  value:
                    data:
                      code: outputData['result'] = String(Number(inputData['value']) * 2); outputData['summary'] = inputData['name'];
                      inputMapping:
                        value: rk3eygOBnRxS6yLJNspILg
                        name: iGDwtAc8NA3elQY9vQJASQ
                      outputMapping:
                        result: rk3eygOBnRxS6yLJNspILg
                        summary: iGDwtAc8NA3elQY9vQJASQ
                      type: Code
                    links: []
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
components:
  schemas:
    PublicApiTaskTemplateResponse:
      title: PublicApiTaskTemplateResponse
      type: object
      required:
      - data
      properties:
        data:
          title: PublicApiTaskTemplate
          type: object
          required:
          - id
          - audit
          - workflowId
          - orderTree
          - stopTask
          - hiddenByDefault
          - taskType
          properties:
            id:
              title: EntityID
              description: The resource's ID.
              type: string
            audit:
              title: PublicApiAudit
              description: Creation and last-modification metadata.
              type: object
              required:
              - createdDate
              - createdBy
              - updatedDate
              - updatedBy
              properties:
                createdDate:
                  description: When the resource was first created. ISO-8601 UTC.
                  type: string
                  format: date-time
                createdBy:
                  title: PublicApiUser
                  description: User who created the resource.
                  examples:
                  - id: iAaSNCU5lWLYGAi663hO8Q
                    email: jane.doe@example.com
                    username: Jane Doe
                  type: object
                  required:
                  - id
                  - email
                  - username
                  properties:
                    id:
                      title: EntityID
                      description: The resource's ID.
                      type: string
                    email:
                      description: The user's email address (also their login identifier).
                      type: string
                    username:
                      description: The user's display name (e.g. `Jane Doe`).
                      type: string
                updatedDate:
                  description: When the resource was last modified. ISO-8601 UTC.
                  type: string
                  format: date-time
                updatedBy:
                  title: PublicApiUser
                  description: User who last modified the resource.
                  examples:
                  - id: iAaSNCU5lWLYGAi663hO8Q
                    email: jane.doe@example.com
                    username: Jane Doe
                  type: object
                  required:
                  - id
                  - email
                  - username
                  properties:
                    id:
                      title: EntityID
                      description: The resource's ID.
                      type: string
                    email:
                      description: The user's email address (also their login identifier).
                      type: string
                    username:
                      description: The user's display name (e.g. `Jane Doe`).
                      type: string
            workflowId:
              title: EntityID
              description: The ID of the Workflow.
              type: string
            name:
              description: Display name of the task template.
              type: string
            orderTree:
              description: Opaque ordering token; task templates sort lexicographically by this value within a revision.
              type: string
            stopTask:
              description: When `true`, this task acts as a stop — subsequent tasks within the revision are blocked until it's completed at runtime.
              type: boolean
            hiddenByDefault:
              description: When `true`, the widget is hidden by default; conditional logic rules can reveal it at runtime. Defaults to `false`.
              type: boolean
            taskType:
              title: TaskType
              description: 'What the task does.


                - `Standard` — a regular task that a user manually checks off when done.

                - `Approval` — an approval task; a reviewer approves or rejects it, gating subsequent tasks.

                - `AI` — an automated task that runs an AI prompt to populate form field values.

                - `Code` — an automated task that runs a custom code snippet.

                '
              type: string
              enum:
              - Standard
              - Approval
              - AI
              - Code
            links:
              description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
              type: array
              items:
                title: Link
                description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                type: object
                required:
                - name
                - href
                - type
                properties:
                  name:
                    description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                    type: string
                  href:
                    title: Uri
                    description: URL of the linked resource.
                    examples:
                    - https://api.process.st/api/v1.1/resource/XXX
                    type: string
                  rel:
                    description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                    type: string
                    enum:
                    - Approval Task
                    - Approvals
                    - Assignees
                    - Comment
                    - Data Set Records
                    - Data Sets
                    - Form Field Values
                    - Subject Task
                    - Task
                    - Tasks
                    - Users
                    - Webhook
                    - Workflow
                    - Workflow Run
                  type:
                    description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                    type: string
                    enum:
                    - Api
                    - App
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    TaskType:
      title: TaskType
      description: 'What the task does.


        - `Standard` — a regular task that a user manually checks off when done.

        - `Approval` — an approval task; a reviewer approves or rejects it, gating subsequent tasks.

        - `AI` — an automated task that runs an AI prompt to populate form field values.

        - `Code` — an automated task that runs a custom code snippet.

        '
      type: string
      enum:
      - Standard
      - Approval
      - AI
      - Code
    PublicApiTaskConfig:
      title: PublicApiTaskConfig
      oneOf:
      - title: PublicApiAiTaskConfig
        type: object
        required:
        - prompt
        - type
        properties:
          prompt:
            description: AI prompt template. May contain merge tags referencing form field values.
            type: string
          systemPrompt:
            description: Optional system message prepended to the AI prompt to set its behaviour.
            type: string
          outputMapping:
            description: Mapping from prompt/code output keys to form field IDs that receive the values.
            type: object
            additionalProperties:
              title: EntityID
              type: string
          type:
            description: Discriminator value for this variant. See the parent oneOf for the full set of values.
            type: string
            const: Ai
      - title: PublicApiApprovalTaskConfig
        type: object
        required:
        - type
        properties:
          subjectTaskIds:
            description: IDs of the tasks reviewed by an approval task.
            type: array
            items:
              title: EntityID
              type: string
          type:
            description: Discriminator value for this variant. See the parent oneOf for the full set of values.
            type: string
            const: Approval
      - title: PublicApiCodeTaskConfig
        type: object
        required:
        - code
        - type
        properties:
          code:
            description: Code snippet executed by this Code task.
            type: string
          inputMapping:
            description: Mapping from prompt/code input keys to form field IDs whose values are passed in.
            type: object
            additionalProperties:
              title: EntityID
              type: string
          outputMapping:
            description: Mapping from prompt/code output keys to form field IDs that receive the values.
            type: object
            additionalProperties:
              title: EntityID
              type: string
          type:
            description: Discriminator value for this variant. See the parent oneOf for the full set of values.
            type: string
            const: Code
      discriminator:
        propertyName: type
        mapping:
          Ai: '#/components/schemas/PublicApiAiTaskConfig'
          Approval: '#/components/schemas/PublicApiApprovalTaskConfig'
          Code: '#/components/schemas/PublicApiCodeTaskConfig'
    PublicApiTaskConfigResponse:
      title: PublicApiTaskConfigResponse
      type: object
      required:
      - data
      properties:
        data:
          title: PublicApiTaskConfig
          oneOf:
          - title: PublicApiAiTaskConfig
            type: object
            required:
            - prompt
            - type
            properties:
              prompt:
                description: AI prompt template. May contain merge tags referencing form field values.
                type: string
              systemPrompt:
                description: Optional system message prepended to the AI prompt to set its behaviour.
                type: string
              outputMapping:
                description: Mapping from prompt/code output keys to form field IDs that receive the values.
                type: object
                additionalProperties:
                  title: EntityID
                  type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Ai
          - title: PublicApiApprovalTaskConfig
            type: object
            required:
            - type
            properties:
              subjectTaskIds:
                description: IDs of the tasks reviewed by an approval task.
                type: array
                items:
                  title: EntityID
                  type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Approval
          - title: PublicApiCodeTaskConfig
            type: object
            required:
            - code
            - type
            properties:
              code:
                description: Code snippet executed by this Code task.
                type: string
              inputMapping:
                description: Mapping from prompt/code input keys to form field IDs whose values are passed in.
                type: object
                additionalProperties:
                  title: EntityID
                  type: string
              outputMapping:
                description: Mapping from prompt/code output keys to form field IDs that receive the values.
                type: object
                additionalProperties:
                  title: EntityID
                  type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Code
          discriminator:
            propertyName: type
            mapping:
              Ai: '#/components/schemas/PublicApiAiTaskConfig'
              Approval: '#/components/schemas/PublicApiApprovalTaskConfig'
              Code: '#/components/schemas/PublicApiCodeTaskConfig'
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    CreateWorkflowTaskRequest:
      title: CreateWorkflowTaskRequest
      type: object
      properties:
        name:
          description: Display name.
          type: string
          maxLength: 255
        taskType:
          title: TaskType
          description: 'What the task does.


            - `Standard` — a regular task that a user manually checks off when done.

            - `Approval` — an approval task; a reviewer approves or rejects it, gating subsequent tasks.

            - `AI` — an automated task that runs an AI prompt to populate form field values.

            - `Code` — an automated task that runs a custom code snippet.

            '
          type: string
          enum:
          - Standard
          - Approval
          - AI
          - Code
        stop:
          type: boolean
        hiddenByDefault:
          description: When `true`, the widget is hidden by default; conditional logic rules can reveal it at runtime. Defaults to `false`.
          type: boolean
        dueOffset:
          type: string
        position:
          title: TaskPosition
          description: Where to place this task in the workflow revision. `Top` — before all existing tasks. `Bottom` — after all existing tasks (default when `position` is omitted). `After` — immediately after the task identified by `taskId`.
          oneOf:
          - title: TaskPositionAfter
            type: object
            required:
            - taskId
            - type
            properties:
              taskId:
                title: EntityID
                description: The ID of the Task.
                type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: After
          - title: TaskPositionBottom
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Bottom
          - title: TaskPositionTop
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Top
          discriminator:
            propertyName: type
            mapping:
              After: '#/components/schemas/TaskPositionAfter'
              Bottom: '#/components/schemas/TaskPositionBottom'
              Top: '#/components/schemas/TaskPositionTop'
    PublicApiTaskTemplateListResponse:
      title: PublicApiTaskTemplateListResponse
      type: object
      properties:
        data:
          description: The list of resources returned by this request.
          type: array
          items:
            title: PublicApiTaskTemplate
            type: object
            required:
            - id
            - audit
            - workflowId
            - orderTree
            - stopTask
            - hiddenByDefault
            - taskType
            properties:
              id:
                title: EntityID
                description: The resource's ID.
                type: string
              audit:
                title: PublicApiAudit
                description: Creation and last-modification metadata.
                type: object
                required:
                - createdDate
                - createdBy
                - updatedDate
                - updatedBy
                properties:
                  createdDate:
                    description: When the resource was first created. ISO-8601 UTC.
                    type: string
                    format: date-time
                  createdBy:
                    title: PublicApiUser
                    description: User who created the resource.
                    examples:
                    - id: iAaSNCU5lWLYGAi663hO8Q
                      email: jane.doe@example.com
                      username: Jane Doe
                    type: object
                    required:
                    - id
                    - email
                    - username
                    properties:
                      id:
                        title: EntityID
                        description: The resource's ID.
                        type: string
                      email:
                        description: The user's email address (also their login identifier).
                        type: string
                      username:
                        description: The user's display name (e.g. `Jane Doe`).
                        type: string
                  updatedDate:
                    description: When the resource was last modified. ISO-8601 UTC.
                    type: string
                    format: date-time
                  updatedBy:
                    title: PublicApiUser
                    description: User who last modified the resource.
                    examples:
                    - id: iAaSNCU5lWLYGAi663hO8Q
                      email: jane.doe@example.com
                      username: Jane Doe
                    type: object
                    required:
                    - id
                    - email
                    - username
                    properties:
                      id:
                        title: EntityID
                        description: The resource's ID.
                        type: string
                      email:
                        description: The user's email address (also their login identifier).
                        type: string
                      username:
                        description: The user's display name (e.g. `Jane Doe`).
                        type: string
              workflowId:
                title: EntityID
                description: The ID of the Workflow.
                type: string
              name:
                description: Display name of the task template.
                type: string
              orderTree:
                description: Opaque ordering token; task templates sort lexicographically by this value within a revision.
                type: string
              stopTask:
                description: When `true`, this task acts as a stop — subsequent tasks within the revision are blocked until it's completed at runtime.
                type: boolean
              hiddenByDefault:
                description: When `true`, the widget is hidden by default; conditional logic rules can reveal it at runtime. Defaults to `false`.
                type: boolean
              taskType:
                title: TaskType
                description: 'What the task does.


                  - `Standard` — a regular task that a user manually checks off when done.

                  - `Approval` — an approval task; a reviewer approves or rejects it, gating subsequent tasks.

                  - `AI` — an automated task that runs an AI prompt to populate form field values.

                  - `Code` — an automated task that runs a custom code snippet.

                  '
                type: string
                enum:
                - Standard
                - Approval
                - AI
                - Code
              links:
                description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
                type: array
                items:
                  title: Link
                  description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                  type: object
                  required:
                  - name
                  - href
                  - type
                  properties:
                    name:
                      description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                      type: string
                    href:
                      title: Uri
                      description: URL of the linked resource.
                      examples:
                      - https://api.process.st/api/v1.1/resource/XXX
                      type: string
                    rel:
                      description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                      type: string
                      enum:
                      - Approval Task
                      - Approvals
                      - Assignees
                      - Comment
                      - Data Set Records
                      - Data Sets
                      - Form Field Values
                      - Subject Task
                      - Task
                      - Tasks
                      - Users
                      - Webhook
                      - Workflow
                      - Workflow Run
                    type:
                      description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                      type: string
                      enum:
                      - Api
                      - App
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    UpdateTaskPermissionRuleRequest:
      title: UpdateTaskPermissionRuleRequest
      oneOf:
      - title: DynamicPermissionRuleRequest
        type: object
        required:
        - sourceType
        - taskRead
        - taskUpdate
        - type
        properties:
          sourceType:
            title: SourceType
            description: "Where the user(s) that get task access are pulled from at runtime.\n\n- `ChecklistInitiator` — grants access to the user who started the workflow run.\n- `FormField` — grants access to users referenced by a form field on the run (`sourceWidgetId`\n  identifies which Members form field).\n"
            type: string
            enum:
            - ChecklistInitiator
            - FormField
          sourceWidgetId:
            title: EntityID
            description: 'For `sourceType=FormField`: the ID of the Members form field whose value drives the rule''s assignees at runtime. Absent for `sourceType=ChecklistInitiator`.'
            type: string
          taskRead:
            description: When `true`, the rule grants read access to the task.
            type: boolean
          taskUpdate:
            description: When `true`, the rule grants update access to the task (check off, edit form fields).
            type: boolean
          type:
            description: Discriminator value for this variant. See the parent oneOf for the full set of values.
            type: string
            const: Dynamic
      - title: StaticPermissionRuleRequest
        type: object
        required:
        - email
        - taskRead
        - taskUpdate
        - type
        properties:
          email:
            description: Email address.
            type: string
          taskRead:
            description: When `true`, the rule grants read access to the task.
            type: boolean
          taskUpdate:
            description: When `true`, the rule grants update access to the task (check off, edit form fields).
            type: boolean
          type:
            description: Discriminator value for this variant. See the parent oneOf for the full set of values.
            type: string
            const: Static
      discriminator:
        propertyName: type
        mapping:
          Dynamic: '#/components/schemas/DynamicPermissionRuleRequest'
          Static: '#/components/schemas/StaticPermissionRuleRequest'
    UpdateWorkflowTaskRequest:
      title: UpdateWorkflowTaskRequest
      type: object
      required:
      - stop
      - hiddenByDefault
      properties:
        name:
          description: Display name.
          type: string
          maxLength: 255
        stop:
          type: boolean
        hiddenByDefault:
          description: When `true`, the widget is hidden by default; conditional logic rules can reveal it at runtime. Defaults to `false`.
          type: boolean
        dueOffset:
          type: string
        position:
          title: TaskPosition
          description: Where to place this task in the workflow revision. `Top` — before all existing tasks. `Bottom` — after all existing tasks (default when `position` is omitted). `After` — immediately after the task identified by `taskId`.
          oneOf:
          - title: TaskPositionAfter
            type: object
            required:
            - taskId
            - type
            properties:
              taskId:
                title: EntityID
                description: The ID of the Task.
                type: string
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: After
          - title: TaskPositionBottom
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Bottom
          - title: TaskPositionTop
            type: object
            required:
            - type
            properties:
              type:
                description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                type: string
                const: Top
          discriminator:
            propertyName: type
            mapping:
              After: '#/components/schemas/TaskPositionAfter'
              Bottom: '#/components/schemas/TaskPositionBottom'
              Top: '#/components/schemas/TaskPositionTop'
    ErrorInfo:
      title: ErrorInfo
      type: object
      required:
      - error
      properties:
        error:
          description: 'Human-readable error message. Suitable for logs or for surfacing to end users; do not parse it

            programmatically — use `errorCode` for that.'
          type: string
        details:
          description: 'Optional structured context. Shape depends on the error: for `Validation` errors the keys are field

            paths; for `PaymentRequired` the keys describe the limit that was hit.'
          type: object
          additionalProperties:
            type: string
        errorCode:
          title: ErrorCode
          description: 'Machine-parsable classification of the error. Always set on responses generated by the global

            exception handler. Branch your own error handling on this (not the message text).'
          type: string
          enum:
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - Conflict
          - PayloadTooLarge
          - Validation
          - RateLimited
          - InternalError
        requestId:
          description: Per-request correlation ID. Include this when contacting support so we can find the request in our logs.
          type: string
    PublicApiPermissionRuleListResponse:
      title: PublicApiPermissionRuleListResponse
      type: object
      properties:
        data:
          description: The list of resources returned by this request.
          type: array
          items:
            title: PublicApiPermissionRule
            oneOf:
            - title: DynamicPermissionRule
              type: object
              required:
              - sourceType
              - taskRead
              - taskUpdate
              - type
              properties:
                sourceType:
                  title: SourceType
                  description: "Where the user(s) that get task access are pulled from at runtime.\n\n- `ChecklistInitiator` — grants access to the user who started the workflow run.\n- `FormField` — grants access to users referenced by a form field on the run (`sourceWidgetId`\n  identifies which Members form field).\n"
                  type: string
                  enum:
                  - ChecklistInitiator
                  - FormField
                sourceWidgetId:
                  title: EntityID
                  description: 'For `sourceType=FormField`: the ID of the Members form field whose value drives the rule''s assignees at runtime. Absent for `sourceType=ChecklistInitiator`.'
                  type: string
                taskRead:
                  description: When `true`, the rule grants read access to the task.
                  type: boolean
                taskUpdate:
                  description: When `true`, the rule grants update access to the task (check off, edit form fields).
                  type: boolean
                type:
                  description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                  type: string
                  const: Dynamic
            - title: StaticPermissionRule
              type: object
              required:
              - user
              - taskRead
              - taskUpdate
              - type
              properties:
                user:
                  title: PublicApiUser
                  description: User this entry refers to.
                  examples:
                  - id: iAaSNCU5lWLYGAi663hO8Q
                    email: jane.doe@example.com
                    username: Jane Doe
                  type: object
                  required:
                  - id
                  - email
                  - username
                  properties:
                    id:
                      title: EntityID
                      description: The resource's ID.
                      type: string
                    email:
                      description: The user's email address (also their login identifier).
                      type: string
                    username:
                      description: The user's display name (e.g. `Jane Doe`).
                      type: string
                taskRead:
                  description: When `true`, the rule grants read access to the task.
                  type: boolean
                taskUpdate:
                  description: When `true`, the rule grants update access to the task (check off, edit form fields).
                  type: boolean
                type:
                  description: Discriminator value for this variant. See the parent oneOf for the full set of values.
                  type: string
                  const: Static
            discriminator:
              propertyName: type
              mapping:
                Dynamic: '#/components/schemas/DynamicPermissionRule'
                Static: '#/components/schemas/StaticPermissionRule'
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    httpAuth:
      type: http
      description: Bearer token (beta)
      scheme: bearer
x-tagGroups:
- name: Workflows
  tags:
  - Workflows
  - Workflow Revisions
  - Form Fields
  - Workflow Logic Rules
  - Workflow Tasks
  - Workflow Task Assignment Rules
  - Workflow Widgets
  - Workflow Due Date Rules
  - Workflow Task Due Date Rules
  - Workflow Incoming Webhooks
  - Scheduled Workflows
- name: Workflow Runs
  tags:
  - Workflow Runs
  - Tasks
  - Form Field Values
  - Comments
  - Attachments
- name: Pages
  tags:
  - Pages
  - Page Revisions
  - Page Widgets
- name: Data Sets
  tags:
  - Data Sets
  - Data Set Incoming Webhooks
- name: Other
  tags:
  - Folders
  - One-Off Tasks
  - Users
  - Webhooks
  - File Uploads
  - Utilities
  - My Work
