openapi: 3.2.0
info:
  title: Process Street Public Workflow Due Date Rules API
  version: '1.1'
  description: The Process Street API is organized around REST.
servers:
- url: https://public-api.process.st/api/v1.1
tags:
- name: Workflow Due Date Rules
  description: 'A workflow due date rule defines how the checklist-level due date is calculated

    for workflow runs — either relative to the run''s start date or derived from a

    Date form field value. Use these endpoints to set or clear the checklist due

    date rule on a draft workflow revision.'
  externalDocs:
    url: https://www.process.st/help/docs/dynamic-due-dates/
    description: Process Street help article
paths:
  /workflows/{workflowId}/revisions/{revisionId}/due-date-rule:
    get:
      tags:
      - Workflow Due Date Rules
      summary: Get the checklist due date rule
      description: Returns the checklist-level due date rule for a workflow revision. The `rule` field is `null` when no rule is set.
      operationId: getChecklistDueDateRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChecklistDueDateRuleResponseResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Workflow Due Date Rules
      summary: Set the checklist due date rule
      description: 'Sets the single checklist-level due date rule on a draft workflow revision, replacing any existing rule. Send `rule: null` (or omit the field) to clear the existing rule. When `sourceType` is `FormFieldValue`, `sourceWidgetId` must reference a Date form field widget in the same revision. Returns the resulting rule.'
      operationId: setChecklistDueDateRule
      parameters:
      - name: workflowId
        in: path
        description: The ID of the Workflow
        required: true
        schema:
          type: string
      - name: revisionId
        in: path
        description: The ID of the Revision
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChecklistDueDateRuleRequest'
            examples:
              Offset from start date:
                summary: Sets the due date 7 days after the workflow run's start date, shifted if it falls on a weekend.
                value:
                  rule:
                    sourceType: ChecklistStartDate
                    offsetDirection: After
                    dueOffset: P7D
                    businessDaysHandlingMode: ShiftToNextBusinessDay
              Offset from form field value:
                summary: Sets the due date 2 hours before a Date form field value. `sourceWidgetId` must reference a Date form field widget in the same revision.
                value:
                  rule:
                    sourceType: FormFieldValue
                    sourceWidgetId: u-VYbVa6tsRlE_3Q7W1KDg
                    offsetDirection: Before
                    dueOffset: PT2H
                    businessDaysHandlingMode: AllDays
              Clear the rule:
                summary: Removes the existing checklist due date rule from the revision.
                value: {}
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChecklistDueDateRuleResponseResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
components:
  schemas:
    GetChecklistDueDateRuleResponseResponse:
      title: GetChecklistDueDateRuleResponseResponse
      type: object
      required:
      - data
      properties:
        data:
          title: GetChecklistDueDateRuleResponse
          description: The resource returned by this request.
          type: object
          properties:
            rule:
              title: PublicApiChecklistDueDateRule
              description: The checklist due date rule, or `null` if none is set.
              type: object
              required:
              - sourceType
              - offsetDirection
              - dueOffset
              - businessDaysHandlingMode
              properties:
                sourceType:
                  description: How the workflow run's due date is derived. `ChecklistStartDate` bases the due date on the workflow run's start date. `FormFieldValue` bases it on a Date form field value (requires `sourceWidgetId`).
                  type: string
                  enum:
                  - FormFieldValue
                  - ChecklistStartDate
                sourceWidgetId:
                  title: EntityID
                  description: 'For `sourceType=FormField`: the ID of the Members form field whose value drives the rule''s assignees at runtime. Absent for `sourceType=ChecklistInitiator`.'
                  type: string
                offsetDirection:
                  description: Whether the offset applies before or after the source date.
                  type: string
                  enum:
                  - Before
                  - After
                dueOffset:
                  description: ISO-8601 duration (e.g. `P7D`, `PT4H30M`).
                  type: string
                businessDaysHandlingMode:
                  title: BusinessDaysHandlingMode
                  description: How non-business days are handled when calculating the due date. `AllDays` counts every day. `BusinessDaysOnly` counts only Monday–Friday. `ShiftToNextBusinessDay` calculates using all days then moves a Saturday/Sunday result to the next Monday.
                  type: string
                  enum:
                  - AllDays
                  - BusinessDaysOnly
                  - ShiftToNextBusinessDay
        links:
          description: 'Pagination links. When the result has more pages, look for an entry with `name: "next"` — its `href` is the URL to fetch the next page. Absence of `next` means there are no more pages. For single-resource responses this array is typically empty.'
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    UpdateChecklistDueDateRuleRequest:
      title: UpdateChecklistDueDateRuleRequest
      type: object
      properties:
        rule:
          title: DueDateRuleBody
          description: The rule to set; omit or send `null` to clear the existing rule.
          type: object
          required:
          - sourceType
          - offsetDirection
          - dueOffset
          - businessDaysHandlingMode
          properties:
            sourceType:
              description: How the workflow run's due date is derived. `ChecklistStartDate` bases the due date on the workflow run's start date. `FormFieldValue` bases it on a Date form field value (requires `sourceWidgetId`).
              type: string
              enum:
              - FormFieldValue
              - ChecklistStartDate
            sourceWidgetId:
              title: EntityID
              description: 'For `sourceType=FormField`: the ID of the Members form field whose value drives the rule''s assignees at runtime. Absent for `sourceType=ChecklistInitiator`.'
              type: string
            offsetDirection:
              description: Whether the offset applies before or after the source date.
              type: string
              enum:
              - Before
              - After
            dueOffset:
              description: ISO-8601 duration (e.g. `P7D`, `PT4H30M`).
              type: string
            businessDaysHandlingMode:
              title: BusinessDaysHandlingMode
              description: How non-business days are handled when calculating the due date. `AllDays` counts every day. `BusinessDaysOnly` counts only Monday–Friday. `ShiftToNextBusinessDay` calculates using all days then moves a Saturday/Sunday result to the next Monday.
              type: string
              enum:
              - AllDays
              - BusinessDaysOnly
              - ShiftToNextBusinessDay
    ErrorInfo:
      title: ErrorInfo
      type: object
      required:
      - error
      properties:
        error:
          description: 'Human-readable error message. Suitable for logs or for surfacing to end users; do not parse it

            programmatically — use `errorCode` for that.'
          type: string
        details:
          description: 'Optional structured context. Shape depends on the error: for `Validation` errors the keys are field

            paths; for `PaymentRequired` the keys describe the limit that was hit.'
          type: object
          additionalProperties:
            type: string
        errorCode:
          title: ErrorCode
          description: 'Machine-parsable classification of the error. Always set on responses generated by the global

            exception handler. Branch your own error handling on this (not the message text).'
          type: string
          enum:
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - Conflict
          - PayloadTooLarge
          - Validation
          - RateLimited
          - InternalError
        requestId:
          description: Per-request correlation ID. Include this when contacting support so we can find the request in our logs.
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    httpAuth:
      type: http
      description: Bearer token (beta)
      scheme: bearer
x-tagGroups:
- name: Workflows
  tags:
  - Workflows
  - Workflow Revisions
  - Form Fields
  - Workflow Logic Rules
  - Workflow Tasks
  - Workflow Task Assignment Rules
  - Workflow Widgets
  - Workflow Due Date Rules
  - Workflow Task Due Date Rules
  - Workflow Incoming Webhooks
  - Scheduled Workflows
- name: Workflow Runs
  tags:
  - Workflow Runs
  - Tasks
  - Form Field Values
  - Comments
  - Attachments
- name: Pages
  tags:
  - Pages
  - Page Revisions
  - Page Widgets
- name: Data Sets
  tags:
  - Data Sets
  - Data Set Incoming Webhooks
- name: Other
  tags:
  - Folders
  - One-Off Tasks
  - Users
  - Webhooks
  - File Uploads
  - Utilities
  - My Work
