openapi: 3.1.0
info:
  title: Process Street Public Attachments Tasks API
  version: '1.1'
  description: "The Process Street API is organized around REST. Our API has predictable resource-oriented URLs,\naccepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response\ncodes, authentication, and verbs.\n\nAn [MCP server](https://www.process.st/help/docs/mcp-server/) is also available for integrating with AI agents and tools.\n\n## Core concepts\n\n**Workflow vs Workflow Run.** A **Workflow** (sometimes called a \"playbook\" or template) is the reusable\ndefinition — tasks, form fields, logic, automations. A **Workflow Run** (sometimes called a \"checklist\")\nis one *instance* of running a Workflow. You list available templates via `listWorkflows`; you start one\nvia `createWorkflowRun` (or by scheduling); and you read or update the live state of an in-progress run\nvia the Workflow Runs / Tasks / Form Field Values endpoints. The two are easy to confuse — when in doubt,\n\"Workflow\" is the *blueprint*, \"Workflow Run\" is *one execution*.\n\n**Pages** are similar but standalone: a Page is a content document (no tasks/form fields). A\n**Page Revision** is a versioned snapshot of its content.\n\n## IDs\n\nAll resource IDs are opaque 22-character URL-safe strings (Muids — a base64-encoded UUID). Treat them\nas opaque tokens. Do not parse them, attempt to sort by them, or assume any internal structure. You can\ncompare two IDs for equality with a plain string comparison.\n\n## Dates and times\n\nAll timestamps in requests and responses are ISO-8601, UTC, with millisecond precision\n(e.g. `2024-09-15T14:32:00.000Z`). For date-only fields (typically due dates), use a calendar date\n(`2024-09-15`).\n\n## Pagination\n\nList endpoints page through results using an opaque cursor named `_` (yes, just an underscore).\nThe flow:\n\n1. Call the list endpoint without `_` to get the first page.\n2. Each response includes a `links[]` array. If there are more pages, you'll find an entry with\n   `name: \"next\"` whose `href` is a fully-formed URL you can `GET` directly.\n3. Keep following `next.href` until the `next` link is absent — that's the end.\n\nYou can also reuse the `_` value from one response by passing it as the `_` query parameter on the\nnext request, but **following the `href` is simpler and forward-compatible**.\n\n## Authentication\n\nEvery request must include an API key as `X-API-KEY: <your-key>`. Generate keys from your\norganization settings in the Process Street app. Each key carries the permissions of the user that\ncreated it.\n\n## Idempotency and retries\n\n- `GET` requests are safe to retry on any error.\n- `PUT` requests are idempotent — calling them twice with the same body is equivalent to calling once.\n  Safe to retry on `5xx`.\n- `DELETE` is idempotent (deleting an already-deleted resource returns `404`, which is fine to ignore).\n- `POST` is generally **not** safe to blindly retry. For workflow runs, attach a `referenceId`\n  on create — calling `createWorkflowRun` twice with the same `referenceId` will return the existing\n  run instead of creating a duplicate.\n\n## Errors\n\nErrors are returned as a JSON object with this shape:\n\n```json\n{\n  \"error\": \"human-readable message\",\n  \"errorCode\": \"NotFound\",\n  \"requestId\": \"abc123…\",\n  \"details\": { \"fieldPath\": \"what went wrong\" }\n}\n```\n\n**When present**, branch on `errorCode` rather than regex'ing `error` (we may rewrite the wording). Include\n`requestId` if you contact support so we can find the request in our logs.\n\n`errorCode` and `requestId` are populated on responses generated by the public API exception handler, which\ncovers the great majority of errors. A few low-level failures (e.g. JSON parse failures caught before the\nhandler runs, framework-level routing errors) may return an `ErrorInfo` without these fields. In that case,\nfall back to the HTTP status code (`400`/`401`/`403`/`404`/`409`/`422`/`429`/`5xx`) — its semantics match\nthe corresponding `errorCode` value.\n\n## Rate limits\n\nAll requests are subject to rate limits. If you receive a `429` response, wait for the duration\nspecified in the `Retry-After` header before retrying.\n"
servers:
- url: https://public-api.process.st/api/v1.1
tags:
- name: Tasks
  description: 'A task is a step within a workflow run. Tasks can be checked off, assigned

    to users, and may contain form fields for collecting data. Use these endpoints

    to view and update tasks within a workflow run.'
  externalDocs:
    url: https://www.process.st/help/docs/tasks/
    description: Process Street help article
paths:
  /workflow-runs/{workflowRunId}/approvals:
    get:
      tags:
      - Tasks
      summary: List all approvals in a workflow run
      description: 'Returns a list of approved or rejected approvals for a workflow run. It will not return pending approvals

        that have not yet been acted upon.

        The approvals are returned 20 at a time, sorted in task order.

        You must use the links section to get the next 20 results.'
      operationId: listApprovals
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: _
        in: query
        description: 'Opaque pagination cursor. Take this value from the previous response''s `links[]` entry whose `name`

          is `"next"` (typically just follow that link''s `href` instead of reading this value).

          Omit on the first page. If the previous response had no `next` link, there are no more pages.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListApprovalsResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Tasks
      summary: Approve or reject a task
      description: 'The <code>approvalTaskId</code> is the ID of the approval task and the <code>subjectTaskId</code> is the

        ID of the task being approved or rejected. If you don''t include a subject task, all pending subject tasks

        of the approval task will be approved or rejected.<br>

        <br>

        A PUT request replaces all values, so all fields must be supplied in each request.

        To not have a comment, you may send a null value or omit the field. See the examples for more.'
      operationId: upsertApproval
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertApprovalRequest'
            examples:
              Approve subject task:
                value:
                  approvalTaskId: hSMfkDEk3cLYZKH9BQBAeQ
                  subjectTaskId: oxnqY0DawOm-ihTV0gNI1g
                  status: Approved
              Approve all subject tasks with comment:
                value:
                  approvalTaskId: sqKHujtewRy7CPcB0i1CJQ
                  status: Approved
                  comment: Looks good to me!
              Reject subject task with comment:
                value:
                  approvalTaskId: s4htfqSpBYAYb1wi11FFJA
                  subjectTaskId: uNPvakoc60d7ZTheToNM4g
                  status: Rejected
                  comment: The customer name is misspelled.
        required: true
      responses:
        '204':
          description: ''
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflow-runs/{workflowRunId}/tasks/{taskId}/assignees/{email}:
    put:
      tags:
      - Tasks
      summary: Assign a user to a task
      description: Assigns a user by email to a task in a workflow run.
      operationId: assignTask
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      - name: email
        in: path
        description: Email
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    delete:
      tags:
      - Tasks
      summary: Unassign a user from a task
      description: Unassigns a user by email from a task in a workflow run.
      operationId: unassignTask
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      - name: email
        in: path
        description: Email
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflow-runs/{workflowRunId}/tasks/{taskId}:
    get:
      tags:
      - Tasks
      summary: Get a task
      description: Returns a task in a workflow run by its ID.
      operationId: getTask
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTaskResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
    put:
      tags:
      - Tasks
      summary: Update a task
      description: 'A PUT request replaces all values, so all fields must be supplied in each request.

        To remove a due date, you may send a null value or omit the field. See the examples for more.'
      operationId: updateTask
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
            examples:
              Complete task:
                value:
                  status: Completed
              Update due date:
                value:
                  status: NotCompleted
                  dueDate: '2026-07-20T00:00:00.000Z'
              Clear due date:
                value:
                  status: NotCompleted
        required: true
      responses:
        '204':
          description: ''
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /tasks:
    get:
      tags:
      - Tasks
      summary: List all tasks
      description: '

        Returns a list of tasks for the given query.

        The tasks are returned 20 at a time, sorted in order of due date.

        You must use the links section to get the next 20 results.

        '
      operationId: listTasks
      parameters:
      - name: assigneeEmail
        in: query
        description: The email of the assigned user to filter the tasks by (will match in a case-insensitive manner)
        required: true
        schema:
          type: string
      - name: workflowId
        in: query
        description: The ID of the workflow to filter by.
        required: false
        schema:
          type: string
      - name: _
        in: query
        description: 'Opaque pagination cursor. Take this value from the previous response''s `links[]` entry whose `name`

          is `"next"` (typically just follow that link''s `href` instead of reading this value).

          Omit on the first page. If the previous response had no `next` link, there are no more pages.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
        '400':
          description: 'Invalid value for: query parameter assigneeEmail'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflow-runs/{workflowRunId}/tasks:
    get:
      tags:
      - Tasks
      summary: List all tasks in a workflow run
      description: 'Returns a list of tasks for a workflow run.

        The tasks are returned 20 at a time, sorted in order.

        You must use the links section to get the next 20 results.'
      operationId: listTasksByWorkflowRun
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: _
        in: query
        description: 'Opaque pagination cursor. Take this value from the previous response''s `links[]` entry whose `name`

          is `"next"` (typically just follow that link''s `href` instead of reading this value).

          Omit on the first page. If the previous response had no `next` link, there are no more pages.'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
  /workflow-runs/{workflowRunId}/tasks/{taskId}/assignees:
    get:
      tags:
      - Tasks
      summary: List all assignees in a task
      description: Returns all the assignees of a given task of a workflow run.
      operationId: listTaskAssignees
      parameters:
      - name: workflowRunId
        in: path
        description: The ID of the Workflow Run
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        description: The ID of the Task
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaskAssigneesResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInfo'
      security:
      - apiKeyAuth: []
      - httpAuth: []
components:
  schemas:
    ListApprovalsResponse:
      title: ListApprovalsResponse
      type: object
      properties:
        approvals:
          type: array
          items:
            title: SimplifiedApproval
            type: object
            required:
            - id
            - audit
            - organizationId
            - workflowRunId
            - approvalTaskId
            - subjectTaskId
            - status
            - reviewedBy
            properties:
              id:
                title: EntityID
                description: The resource's ID.
                type: string
              audit:
                title: PublicApiAudit
                description: Creation and last-modification metadata.
                type: object
                required:
                - createdDate
                - createdBy
                - updatedDate
                - updatedBy
                properties:
                  createdDate:
                    description: When the resource was first created. ISO-8601 UTC.
                    type: string
                    format: date-time
                  createdBy:
                    title: PublicApiUser
                    description: User who created the resource.
                    examples:
                    - id: iAaSNCU5lWLYGAi663hO8Q
                      email: jane.doe@example.com
                      username: Jane Doe
                    type: object
                    required:
                    - id
                    - email
                    - username
                    properties:
                      id:
                        title: EntityID
                        description: The resource's ID.
                        type: string
                      email:
                        description: The user's email address (also their login identifier).
                        type: string
                      username:
                        description: The user's display name (e.g. `Jane Doe`).
                        type: string
                  updatedDate:
                    description: When the resource was last modified. ISO-8601 UTC.
                    type: string
                    format: date-time
                  updatedBy:
                    title: PublicApiUser
                    description: User who last modified the resource.
                    examples:
                    - id: iAaSNCU5lWLYGAi663hO8Q
                      email: jane.doe@example.com
                      username: Jane Doe
                    type: object
                    required:
                    - id
                    - email
                    - username
                    properties:
                      id:
                        title: EntityID
                        description: The resource's ID.
                        type: string
                      email:
                        description: The user's email address (also their login identifier).
                        type: string
                      username:
                        description: The user's display name (e.g. `Jane Doe`).
                        type: string
              organizationId:
                title: EntityID
                description: The ID of the organization this resource belongs to.
                type: string
              workflowRunId:
                title: EntityID
                description: The ID of the Workflow Run.
                type: string
              approvalTaskId:
                title: EntityID
                type: string
              subjectTaskId:
                title: EntityID
                type: string
              status:
                description: 'Outcome of an approval task review.


                  - `Approved` — the reviewer accepted the subject task(s).

                  - `Rejected` — the reviewer rejected; subject tasks return to the assignee for rework.

                  '
                type: string
                enum:
                - Approved
                - Rejected
              reviewedBy:
                title: PublicApiUser
                examples:
                - id: iAaSNCU5lWLYGAi663hO8Q
                  email: jane.doe@example.com
                  username: Jane Doe
                type: object
                required:
                - id
                - email
                - username
                properties:
                  id:
                    title: EntityID
                    description: The resource's ID.
                    type: string
                  email:
                    description: The user's email address (also their login identifier).
                    type: string
                  username:
                    description: The user's display name (e.g. `Jane Doe`).
                    type: string
              comment:
                type: string
              links:
                description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 relation), an `href` URL, and a `type` (`Api` or `App`).
                type: array
                items:
                  title: Link
                  description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                  type: object
                  required:
                  - name
                  - href
                  - type
                  properties:
                    name:
                      description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                      type: string
                    href:
                      title: Uri
                      description: URL of the linked resource.
                      examples:
                      - https://api.process.st/api/v1.1/resource/XXX
                      type: string
                    rel:
                      description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                      type: string
                      enum:
                      - Approval Task
                      - Approvals
                      - Assignees
                      - Comment
                      - Data Set Records
                      - Data Sets
                      - Form Field Values
                      - Subject Task
                      - Task
                      - Tasks
                      - Users
                      - Webhook
                      - Workflow
                      - Workflow Run
                    type:
                      description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                      type: string
                      enum:
                      - Api
                      - App
        links:
          description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 relation), an `href` URL, and a `type` (`Api` or `App`).
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    ListTasksResponse:
      title: ListTasksResponse
      type: object
      properties:
        tasks:
          type: array
          items:
            title: PublicApiTask
            type: object
            required:
            - id
            - updatedDate
            - updatedBy
            - workflowRunId
            - status
            - name
            - hidden
            - stopped
            - taskType
            properties:
              id:
                description: The ID of the Task
                examples:
                - uLWoJgZC8i0hfa8qtz9Eeg
                type: string
              updatedDate:
                description: When the resource was last modified. ISO-8601 UTC.
                type: string
                format: date-time
              updatedBy:
                title: PublicApiUser
                description: User who last modified the resource.
                examples:
                - id: iAaSNCU5lWLYGAi663hO8Q
                  email: jane.doe@example.com
                  username: Jane Doe
                type: object
                required:
                - id
                - email
                - username
                properties:
                  id:
                    title: EntityID
                    description: The resource's ID.
                    type: string
                  email:
                    description: The user's email address (also their login identifier).
                    type: string
                  username:
                    description: The user's display name (e.g. `Jane Doe`).
                    type: string
              completedDate:
                description: When the task was marked complete, if it is. ISO-8601 UTC.
                type: string
                format: date-time
              completedBy:
                title: PublicApiUser
                examples:
                - id: iAaSNCU5lWLYGAi663hO8Q
                  email: jane.doe@example.com
                  username: Jane Doe
                type: object
                required:
                - id
                - email
                - username
                properties:
                  id:
                    title: EntityID
                    description: The resource's ID.
                    type: string
                  email:
                    description: The user's email address (also their login identifier).
                    type: string
                  username:
                    description: The user's display name (e.g. `Jane Doe`).
                    type: string
              workflowRunId:
                description: The ID of the Workflow Run
                examples:
                - uLWoJgZC8i0hfa8qtz9Eeg
                type: string
              status:
                title: Status
                type: string
                enum:
                - NotCompleted
                - Completed
              dueDate:
                description: Optional task-level due date. ISO-8601 UTC.
                type: string
                format: date-time
              name:
                description: Display name of the task.
                type: string
              hidden:
                description: Whether the task is hidden by Conditional Logic.
                type: boolean
              stopped:
                description: Whether the task is blocked (stopped) by an incomplete prior stop task.
                type: boolean
              taskType:
                title: TaskType
                description: 'What the task does.


                  - `Standard` — a regular task that a user manually checks off when done.

                  - `Approval` — an approval task; a reviewer approves or rejects it, gating subsequent tasks.

                  - `AI` — an automated task that runs an AI prompt to populate form field values.

                  - `Code` — an automated task that runs a custom code snippet.

                  '
                type: string
                enum:
                - Standard
                - Approval
                - AI
                - Code
              links:
                description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 link relation like `self`, `edit`, `related`), an `href` URL, and a `type` (`Api` for callable endpoints, `App` for browser-facing URLs). Prefer following these `href` values over constructing URLs by hand.
                type: array
                items:
                  title: Link
                  description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
                  type: object
                  required:
                  - name
                  - href
                  - type
                  properties:
                    name:
                      description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                      type: string
                    href:
                      title: Uri
                      description: URL of the linked resource.
                      examples:
                      - https://api.process.st/api/v1.1/resource/XXX
                      type: string
                    rel:
                      description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                      type: string
                      enum:
                      - Approval Task
                      - Approvals
                      - Assignees
                      - Comment
                      - Data Set Records
                      - Data Sets
                      - Form Field Values
                      - Subject Task
                      - Task
                      - Tasks
                      - Users
                      - Webhook
                      - Workflow
                      - Workflow Run
                    type:
                      description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                      type: string
                      enum:
                      - Api
                      - App
        links:
          description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 relation), an `href` URL, and a `type` (`Api` or `App`).
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    GetTaskResponse:
      title: GetTaskResponse
      type: object
      required:
      - id
      - updatedDate
      - updatedBy
      - workflowRunId
      - status
      - name
      - hidden
      - stopped
      properties:
        id:
          description: The ID of the Task
          examples:
          - mdDUijub_wOJZGOTRs9GEQ
          type: string
        updatedDate:
          description: When the resource was last modified. ISO-8601 UTC.
          type: string
          format: date-time
        updatedBy:
          title: PublicApiUser
          description: User who last modified the resource.
          examples:
          - id: iAaSNCU5lWLYGAi663hO8Q
            email: jane.doe@example.com
            username: Jane Doe
          type: object
          required:
          - id
          - email
          - username
          properties:
            id:
              title: EntityID
              description: The resource's ID.
              type: string
            email:
              description: The user's email address (also their login identifier).
              type: string
            username:
              description: The user's display name (e.g. `Jane Doe`).
              type: string
        completedDate:
          type: string
          format: date-time
        completedBy:
          title: PublicApiUser
          examples:
          - id: iAaSNCU5lWLYGAi663hO8Q
            email: jane.doe@example.com
            username: Jane Doe
          type: object
          required:
          - id
          - email
          - username
          properties:
            id:
              title: EntityID
              description: The resource's ID.
              type: string
            email:
              description: The user's email address (also their login identifier).
              type: string
            username:
              description: The user's display name (e.g. `Jane Doe`).
              type: string
        workflowRunId:
          description: The ID of the Workflow Run
          examples:
          - mdDUijub_wOJZGOTRs9GEQ
          type: string
        status:
          title: Status
          type: string
          enum:
          - NotCompleted
          - Completed
        dueDate:
          description: Due date. ISO-8601 UTC.
          type: string
          format: date-time
        name:
          description: Display name.
          type: string
        hidden:
          description: Whether the task is hidden by Conditional Logic.
          type: boolean
        stopped:
          description: Whether the task is blocked (stopped) by an incomplete prior stop task.
          type: boolean
        links:
          description: Navigable HATEOAS links to related resources. Each entry has a `name` (RFC-5988 relation), an `href` URL, and a `type` (`Api` or `App`).
          type: array
          items:
            title: Link
            description: A HATEOAS link to a related resource. Use these to navigate between resources without constructing URLs by hand.
            type: object
            required:
            - name
            - href
            - type
            properties:
              name:
                description: Standard link relation name (RFC 5988) indicating this link's role. Common values include `self`, `edit`, `related`, `previous`, `next`.
                type: string
              href:
                title: Uri
                description: URL of the linked resource.
                examples:
                - https://api.process.st/api/v1.1/resource/XXX
                type: string
              rel:
                description: Optional. The kind of resource this link points to (e.g. `Workflow`, `Task`, `Comment`).
                type: string
                enum:
                - Approval Task
                - Approvals
                - Assignees
                - Comment
                - Data Set Records
                - Data Sets
                - Form Field Values
                - Subject Task
                - Task
                - Tasks
                - Users
                - Webhook
                - Workflow
                - Workflow Run
              type:
                description: Whether this link targets an API endpoint or a Process Street app URL. `Api` — a callable API endpoint you can fetch directly. `App` — a browser-facing URL in the Process Street UI.
                type: string
                enum:
                - Api
                - App
    UpsertApprovalRequest:
      title: UpsertApprovalRequest
      type: object
      required:
      - approvalTaskId
      - status
      properties:
        approvalTaskId:
          examples:
          - kEDOjQu891-kEobPtstORw
          type: string
        subjectTaskId:
          examples:
          - kEDOjQu891-kEobPtstORw
          type: string
        status:
          description: 'Outcome of an approval task review.


            - `Approved` — the reviewer accepted the subject task(s).

            - `Rejected` — the reviewer rejected; subject tasks return to the assignee for rework.

            '
          type: string
          enum:
          - Approved
          - Rejected
        comment:
          type: string
    UpdateTaskRequest:
      title: UpdateTaskRequest
      type: object
      required:
      - status
      properties:
        status:
          description: 'Whether the task is complete.


            - `NotCompleted` — the task has not yet been checked off.

            - `Completed` — the task has been checked off.

            '
          type: string
          enum:
          - NotCompleted
          - Completed
        dueDate:
          description: Due date. ISO-8601 UTC.
          type: string
          format: date-time
    ListTaskAssigneesResponse:
      title: ListTaskAssigneesResponse
      type: object
      properties:
        assignees:
          type: array
          items:
            title: PublicApiUser
            examples:
            - id: iAaSNCU5lWLYGAi663hO8Q
              email: jane.doe@example.com
              username: Jane Doe
            type: object
            required:
            - id
            - email
            - username
            properties:
              id:
                title: EntityID
                description: The resource's ID.
                type: string
              email:
                description: The user's email address (also their login identifier).
                type: string
              username:
                description: The user's display name (e.g. `Jane Doe`).
                type: string
    ErrorInfo:
      title: ErrorInfo
      type: object
      required:
      - error
      properties:
        error:
          description: 'Human-readable error message. Suitable for logs or for surfacing to end users; do not parse it

            programmatically — use `errorCode` for that.'
          type: string
        details:
          description: 'Optional structured context. Shape depends on the error: for `Validation` errors the keys are field

            paths; for `PaymentRequired` the keys describe the limit that was hit.'
          type: object
          additionalProperties:
            type: string
        errorCode:
          title: ErrorCode
          description: 'Machine-parsable classification of the error. Always set on responses generated by the global

            exception handler. Branch your own error handling on this (not the message text).'
          type: string
          enum:
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - Conflict
          - PayloadTooLarge
          - Validation
          - RateLimited
          - InternalError
        requestId:
          description: Per-request correlation ID. Include this when contacting support so we can find the request in our logs.
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-API-Key
      in: header
    httpAuth:
      type: http
      description: Bearer token (beta)
      scheme: bearer
x-tagGroups:
- name: Workflows
  tags:
  - Workflows
  - Workflow Revisions
  - Form Fields
  - Workflow Logic Rules
  - Workflow Tasks
  - Workflow Task Assignment Rules
  - Workflow Widgets
  - Workflow Due Date Rules
  - Workflow Task Due Date Rules
  - Workflow Incoming Webhooks
  - Scheduled Workflows
- name: Workflow Runs
  tags:
  - Workflow Runs
  - Tasks
  - Form Field Values
  - Comments
  - Attachments
- name: Pages
  tags:
  - Pages
  - Page Revisions
  - Page Widgets
- name: Data Sets
  tags:
  - Data Sets
  - Data Set Incoming Webhooks
- name: Other
  tags:
  - Folders
  - One-Off Tasks
  - Users
  - Webhooks
  - File Uploads
  - Utilities
  - My Work
